Step 1: Import required packages

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

Step 3: Assign it to a variable called users

In [3]:
users = pd.read_csv(url, sep='|')
print(users.head(10))

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

Step 4: Discover what is the mean age per occupationStep 3: Assign it to a variable called users

In [4]:
mean_age_by_occup = users.groupby('occupation')['age'].mean().astype(int).reset_index()
mean_age_by_occup.columns = ['Occupation', 'Mean Age']
print(mean_age_by_occup)

       Occupation  Mean Age
0   administrator        38
1          artist        31
2          doctor        43
3        educator        42
4        engineer        36
5   entertainment        29
6       executive        38
7      healthcare        41
8       homemaker        32
9          lawyer        36
10      librarian        40
11      marketing        37
12           none        26
13          other        34
14     programmer        33
15        retired        63
16       salesman        35
17      scientist        35
18        student        22
19     technician        33
20         writer        36

Step 5: Discover the Male ratio per occupation and sort it from the most to the leastStep 3: Assign it to a variable called users

In [5]:
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
users['gender_numeric'] = users['gender'].apply(gender_to_numeric)
male_ratio_by_occup = users.groupby('occupation')['gender_numeric'].mean()
male_ratio_by_occup_sorted = male_ratio_by_occup.sort_values(ascending=False)
print(male_ratio_by_occup_sorted)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender_numeric, dtype: float64

Step 6: For each occupation, calculate the minimum and maximum agesStep 3: Assign it to a variable called users

In [6]:
min_max_age_by_occup = users.groupby('occupation')['age'].agg(['min', 'max']).reset_index()
min_max_age_by_occup.columns = ['Occupation', 'Min Age','Max Age']
print(min_max_age_by_occup)

       Occupation  Min Age  Max Age
0   administrator       21       70
1          artist       19       48
2          doctor       28       64
3        educator       23       63
4        engineer       22       70
5   entertainment       15       50
6       executive       22       69
7      healthcare       22       62
8       homemaker       20       50
9          lawyer       21       53
10      librarian       23       69
11      marketing       24       55
12           none       11       55
13          other       13       64
14     programmer       20       63
15        retired       51       73
16       salesman       18       66
17      scientist       23       55
18        student        7       42
19     technician       21       55
20         writer       18       60

Step 7: For each combination of occupation and sex, calculate the mean ageFor the default set of parameters, we see the trajectories swirling around two points, called attractors.

In [7]:
mean_age_by_occupation_and_gender = users.groupby(['occupation', 'gender'])['age'].mean().astype(int)
mean_age_by_occupation_and_gender.columns =['Occupation', 'Min Age','Max Age']
print(mean_age_by_occupation_and_gender)

occupation     gender
administrator  F         40
               M         37
artist         F         30
               M         32
doctor         M         43
educator       F         39
               M         43
engineer       F         29
               M         36
entertainment  F         31
               M         29
executive      F         44
               M         38
healthcare     F         39
               M         45
homemaker      F         34
               M         23
lawyer         F         39
               M         36
librarian      F         40
               M         40
marketing      F         37
               M         37
none           F         36
               M         18
other          F         35
               M         34
programmer     F         32
               M         33
retired        F         70
               M         62
salesman       F         27
               M         38
scientist      F         28
               M         36
student        F         20
               M         22
technician     F         38
               M         32
writer         F         37
               M         35
Name: age, dtype: int32

Step 8: For each occupation present the percentage of women and menFor the default set of parameters, we see the trajectories swirling around two points, called attractors.

In [8]:
gender_count_by_occup = users.groupby(['occupation', 'gender'])['gender'].count().unstack()
total_count_by_occup = users.groupby('occupation')['gender'].count()
gender_percent_by_occup = gender_count_by_occup.divide(total_count_by_occup, axis=0).multiply(100).reset_index()
gender_percent_by_occup.columns = ['Occupation','Female', 'Male']
print(gender_percent_by_occup)

       Occupation     Female        Male
0   administrator  45.569620   54.430380
1          artist  46.428571   53.571429
2          doctor        NaN  100.000000
3        educator  27.368421   72.631579
4        engineer   2.985075   97.014925
5   entertainment  11.111111   88.888889
6       executive   9.375000   90.625000
7      healthcare  68.750000   31.250000
8       homemaker  85.714286   14.285714
9          lawyer  16.666667   83.333333
10      librarian  56.862745   43.137255
11      marketing  38.461538   61.538462
12           none  44.444444   55.555556
13          other  34.285714   65.714286
14     programmer   9.090909   90.909091
15        retired   7.142857   92.857143
16       salesman  25.000000   75.000000
17      scientist   9.677419   90.322581
18        student  30.612245   69.387755
19     technician   3.703704   96.296296
20         writer  42.222222   57.777778